html {
  font-size: 62.5%;
}

body {
  background-color: #18181b;
  font-size: 1.6rem;
  max-width: 100vw;
  padding-bottom: 50px;
  width: 100%;
}

.risco {
  text-decoration: line-through solid black;
}

.loader {
  animation: rotation 1s linear infinite;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 48px;
  margin: 15px auto;
  position: relative;
  width: 48px;
}

.loader:after, .loader:before {
  animation: animloader 1s infinite ease-in-out;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: scale(0.5) translate(0, 0);
  width: 24px;
}

.loader:before {
  background-color: #fcc436;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animloader {

  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

#check-group {
  animation: 0.32s ease-in-out 1.03s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
  stroke-dasharray: 0 , 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#check-group #outline {
  animation: 0.38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

#check-group #white-circle {
  animation: 0.35s ease-in 0.35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes outline {

  from {
    stroke-dasharray: 0 , 345.576px;
  }

  to {
    stroke-dasharray: 345.576px , 345.576px;
  }
}

@keyframes circle {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes check {

  from {
    stroke-dasharray: 0 , 75px;
  }

  to {
    stroke-dasharray: 75px , 75px;
  }
}

@keyframes check-group {

  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.09);
  }

  to {
    transform: scale(1);
  }
}
