html {
  font-size: 62.5%;
}

body {
  background-color: #18181b;
  font-size: 1.6rem;
  padding-bottom: 50px;
  width: 100%;
  max-width: 100vw;
}

.risco {
  text-decoration: line-through solid black;
}
